.wrapper  {
  background-color: #333336;
  position: relative;
  flex-grow: 1;
  overflow-y: scroll;
}

.cards {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  padding: 2em;
}

.noResults {
  padding: 1em;
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em;
}

.spinner {
  border: 0.3em solid #333336;
  border-top: 0.3em solid white;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.visibilitySensor {
  height: 1px;
}
