.Header {
  background-color: #202023;
  border-bottom: 1px solid black;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  align-items: center;
  padding: 1em;
}

.title {
  font-size: 1.1em;
  color: #f0e3b8;
}

.subTitle {
  font-size: 0.9em;
  font-weight: 100;
}

.filters {
  flex-grow: 1;
  padding-left: 2em;
  text-align: right;
}

.searchInput {
  margin-left: 0.5em;
  font-size: 0.9em
}